body {
  font-family: futura;
}

/*meny med 6 kolumner*/
header {
  display:grid;
  background-color: #444;
  color: white;
  padding: 5em;
  font-size: 1em;
  text-align: center;
  grid-template-columns:repeat(6,1fr);
}
/*header "bild"*/
.wrapper1 {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #eee;
  grid-gap: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  grid-auto-rows: 500px;
  text-align: center;
}
/*child till wrapper 1 med padding*/
.wrapper1 > div {
  padding: 3em;
}
/*navigation och artiklar i 3 kolumner*/
.wrapper2 {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3em;
  margin: 3em;
  grid-auto-rows: 350px;
}
/*alla boxar*/
.box {
  background-color: #eee;
  padding: 2em;
  text-align: center;
}
/*bild och artikel, 2 rader och 2 rader*/
.wrapper3 {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-gap: 3em;
  margin: 7em;
  grid-auto-rows: 400px;
}
/*kalender med 3 kolumner och 2 rader*/
.wrapper4 {
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
  grid-gap: 3em;
  margin: 3em;
  grid-auto-rows: 135px;
}

/*footer med kontaktuppgifter i 4 kolumner*/
footer {
  display:grid;
  background-color: #444;
  color: white;
  padding: 7em;
  text-align: center;
  grid-template-columns:repeat(4,1fr)
}
