body {
  font-family: 'Metal Mania', cursive;
  background-color: #000;
}

/*meny med 6 kolumner*/
header {
  display:grid;
  background-color: #000;
  color: #fff;
  padding: 5em;
  font-size: 1em;
  text-align: center;
  grid-template-columns:repeat(5,1fr);
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

/*länk*/
a {
  text-decoration: none;
  color: white;
}

/*länk hover*/
a:hover {
  color: #f63c81;
  animation-delay: 3ms;
}

/*bild*/
img {
  width: 80%;
}

/* class för den valda sidan i menyn*/
.selected {
  color:#f63c81;
  text-decoration: underline;
}

/*header "bild"*/
.wrapper1 {
  display: grid;
  grid-template-columns: 1fr;
  background-image: url("rock.jpeg");
  background-size: 100%;
  grid-gap: 3em;
  margin-top: 2em;
  margin-bottom: 1em;
  grid-auto-rows: 70vh;
  background-repeat: no-repeat;
  text-align: center;
}

/*formuläret i grid med 1 kolumn*/
.wrapper2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 5em 20em;
  grid-auto-rows: 480px;
}

.wrapper4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 3em;
  grid-auto-rows: 150px;
}

/*klass för formuläret*/
.forms{
  margin-bottom: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

/*box för formuläret*/
.boxform {
  background-color: #cdc8c4;
  padding: 2em;
  text-align: center;
}

/*matmenyn, grid i 3 kolumner och 1 rad*/
.wrapper3 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em;
    margin: 0em 1em 5em 1em;
    grid-auto-rows: 150px;
}

/*hr med gradient*/
.line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255,255,0), rgba(0, 0, 0, 0));
  width: 50%;
}

/*kolumer i matmenyn*/
.boxmeny {
  padding: 2em;
  text-align: center;
}

h1 {
  color: #fff;
  font-size: xx-large;
}

h2 {
  color:#f63c81;
}

/*class för h2 i matmenyn*/
.h2price {
  color: #fff;
}

h3 {
  font-size: xx-large;
}

p {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/*footer med kontaktuppgifter i 3 kolumner*/
footer {
  display: grid;
  background-color: #000;
  color: white;
  padding: 0em 7em;
  text-align: center;
  grid-template-columns:repeat(3,1fr);
  border-top: 1px solid #f63c81;
  margin-top: 5em;
}

/*knapp i formuläret*/
button {
    background-color:#000;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 100px;
    cursor: pointer;
    border-radius: 30px;
}

/*hover för knappen*/
button:hover {
  color:#f63c81;
}

/*style för input i formuläret*/
input {
  border-style: none;
  width: fit-content;
  font-family: 'Open Sans', sans-serif;
}

iframe {
  width: 100%;
}

/*mobilanpassning till en maxbredd på 900px*/
@media screen and (max-width: 950px) {

  .wrapper1 {
    margin-bottom: 3em;
    grid-auto-rows: 50vh;
  }

  .wrapper3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0em;
    margin: 3em;
    grid-auto-rows: 110px;
}
.boxmeny {
  padding: 2em;
  text-align: center;
  background-color: #000;
}

header {
  display:grid;
  background-color: #000;
  color: #fff;
  padding: 2em 1em 1em 1em;
  font-size: 1em;
  text-align: center;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.wrapper2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  margin: 0em 5em;
}

button {
  font-size: 13px;
}

footer {
  display: grid;
  background-color: #000;
  color: white;
  padding: 1em;
  text-align: center;
  grid-template-columns:1fr;
}

/*speciell width på loggan i footern*/
.boxlogo {
  width: 40%;
}
}
